.navbar-aqua {
  background-color: rgb(0, 255, 240);
  box-shadow: 2px 2px 7px grey;
}

.artist-pic {
  float: left;
  margin-right: 5px;
  margin-bottom: 2px;
}

.artist-name {
  font-size: 3em;
}

.artist-bio {
  font-size: 1em;
}

.headtext {
  color: white;
  font-weight: bold;
  text-decoration-style: dashed;
  /*text-shadow: 1px 1px 1px grey;*/
}

.searchbox {
  position: relative;
  left: 40px;
  margin: 5px 0px 15px 0px;
}

.playitem {
  padding: 2px;
  border: 1px solid grey;
}
