<div class="row">


  <nav class="navbar navbar-aqua">
    <h1 class="headtext">(づ｡◕‿‿◕｡)づ Music Adventure</h1>
    <input ng-model="artist" class="searchbox" />
    <button ng-click="start.getData(artist)" class="searchbox">Summon Music</button>
  </nav>
</div>
<div class="container">
<youtube-video video-id="start.youtubeUrl" player-vars="start.playerVars"></youtube-video>
  <div class="col-sm-6">
    <div>
      <img class="artist-pic" src={{start.artistData.image[2]['#text']}}>
      <span class="artist-name"> {{start.artistData.name}} </span>
      <div class="artist-bio">
        {{start.artistData.bio.content}}
      </div>
    </div>

    <div ng-repeat="rArtist in start.relatedArtists">
      {{ rArtist.name }}
    </div>
  </div>
</div>
