<div class="row">


  <nav class="navbar navbar-aqua">
    <h1 class="headtext">(づ｡◕‿‿◕｡)づ Zombic Music Adventure!</h1>
    <div class="searchbox">
      <input ng-model="start.searchbox" />
      <button ng-click="start.getData(start.searchbox)" class="searchbox">Summon Music</button><br>
      <label>Artist<input type="radio" ng-model="start.type" value="artist" selected></label>
      <label>Genre<input type="radio" ng-model="start.type" value="genre"></label>
    </div>
  </nav>
</div>
<div class="container">
  <div class="col-sm-6">
    <div class="embed-responsive embed-responsive-16by9">
      <youtube-video video-id="start.youtubeUrl" player="player" player-vars="start.playerVars"></youtube-video>
    </div>
    <div ng-class="{hidden: start.hidden}">
      <i class="controls glyphicon glyphicon-play" ng-click="start.play(player)"></i>
      <i class="controls glyphicon glyphicon-pause" ng-click="start.pause(player)"></i>
      <i class="controls glyphicon glyphicon-stop" ng-click="start.stop(player)"></i>
      <i class="controls glyphicon glyphicon-fast-forward" ng-click="start.next(player)"></i>
    </div>
    <div class="playlist">
      <div class="playitem pointer" ng-repeat="item in start.playList" ng-click="start.getData(item[0])">
        <img src={{item[2]}} class="playlistimg">{{ item[0] }} - {{ item[1] }}
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <img class="artist-pic" src={{start.artistData.image[2]['#text']}}>
    <span class="artist-name"> {{start.artistData.name}} </span>
    <div class="artist-bio">
      {{start.artistData.bio.content}}
    </div>
  </div>

</div>
